/* ------------------CSS RESET---------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------------ */

.nav-bar {
  font-family: "Raleway";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4.5em;
  background: #ffffff;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 3em;
}
.join-button {
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  border-radius: 52px;
  border: none;
  color: #ffffff;
  padding: 1em 2em;
}
.main-section {
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
}
.section-left {
  display: flex;
}
.section-right {
  margin-top: 3em;
  margin-right: 5em;
  display: flex;
}
.left-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3em;
  margin-left: 5em;
  gap: 2em;
}
.header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: -0.01em;
}
.pointer-conatiner {
  display: flex;
  gap: 3em;
  align-items: center;
  padding: 1em 0em 1em 0em;
}
.pointer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;
}
.pointer-logo {
  width: 48px;
  height: 48px;
}

.blue-text {
  color: #0096ff;
}
.cross {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 4px;
  line-height: 1.5;
}
.form {
  background-color: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1.5em;
}
.stages-container {
  display: flex;
  margin: 1em auto;
  gap: 9em;
  /* border: 1px solid red; */
}
.internal-container img {
  height: 32px;
  width: 32px;
}
.internal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.internal-container span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #3c4852;
}
.SubHeader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 125.3%;
  text-align: center;
}
.plan-container {
  position: relative;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.subscription-plan {
  margin-top: 1em;
  font-family: "Roboto";
  border: 2px solid #bebebe;
  display: flex;
  margin: 0 1em;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  border-radius: 4px;
  color: #3c4852;
}
.plan-details-left {
  display: flex;
  gap: 0.5em;
}
.plan-details-right {
  display: flex;
  flex-direction: column;
}
.total {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.total span {
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
}
.per-month {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  justify-content: flex-end;
  gap: 0.4em;
}
.per-month span {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  color: #bebebe;
}
.disabled {
  border: 2px solid #bebebe;
  background: #e7e7e7;
  color: #bebebe;
}
.selected {
  border: 2px solid #47ba68;
  background: #d7eddd;
}
.total-container {
  margin: 1.5em 1em 0em 1em;
  border-top: 2px solid #bebebe;
}
.ltd-offer {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  background: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2) 0%,
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(222, 67, 19, 0.2) 2.92%,
    rgba(222, 68, 20, 0.2) 6.37%,
    rgba(223, 69, 21, 0.2) 10.97%,
    rgba(223, 72, 22, 0.2) 16.59%,
    rgba(224, 75, 24, 0.2) 23.1%,
    rgba(225, 80, 27, 0.2) 30.37%,
    rgba(227, 86, 31, 0.2) 38.27%,
    rgba(229, 94, 36, 0.2) 46.66%,
    rgba(231, 104, 43, 0.2) 55.41%,
    rgba(235, 117, 51, 0.2) 64.39%,
    rgba(238, 132, 60, 0.2) 73.47%,
    rgba(243, 149, 71, 0.2) 82.52%,
    rgba(248, 169, 84, 0.2) 91.41%,
    rgba(254, 193, 99, 0.2) 100%
  );

  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      135deg,
      #de4313 0%,
      #de4313 0.75%,
      #de4313 2.92%,
      #de4414 6.37%,
      #df4515 10.97%,
      #df4816 16.59%,
      #e04b18 23.1%,
      #e1501b 30.37%,
      #e3561f 38.27%,
      #e55e24 46.66%,
      #e7682b 55.41%,
      #eb7533 64.39%,
      #ee843c 73.47%,
      #f39547 82.52%,
      #f8a954 91.41%,
      #fec163 100%
    )
    1;
  padding: 0.3em 0.8em;
}
.alert-head {
  display: flex;
  justify-content: space-between;
}
.alert-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #de4313;
}
.alert-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.4em;
  color: #de4313;
}
.alert-body img {
  height: 12px;
  width: 12px;
}
.total-amt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #3c4852;
}
.txt {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.8em;
}
.txt-span1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #3c4852;
}

.txt-span2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #3c4852;
}
.Buttons-Container {
  display: flex;
  margin: 0 1em;
  justify-content: space-evenly;
}
.common {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 48%;
  padding: 1em 0em;

  border-radius: 4px;
  font-family: "Roboto";

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.cancel {
  border: 2px solid #f77171;
  background-color: #fff;
}
.procede {
  border: none;
  color: white;
  background: #47ba68;
}
.razor-pay-icon-container {
  margin: 1.3em;
}
.common-label {
  border-radius: 0px 0px 4px 4px;
  color: white;
  width: 115px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  text-align: center;
}
.recommended-label {
  position: absolute;
  top: 73px;
  left: 60px;
  background: #47ba68;
}
.expired-label {
  position: absolute;
  top: 0px;
  left: 60px;
  background: #f77171;
}
.total-price-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #3c4852;
}
@media (max-width: 1126px) {
  .header {
    font-size: 2rem;
  }
  .main-section {
    gap: 2em;
  }
  .form {
    width: 400px;
  }
}
@media (max-width: 880px) {
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    font-size: 3rem;
  }
  .main-section {
    gap: 1em;
  }
  .form {
    width: 500px;
  }
  .join-button {
    display: none;
  }
}
